ul.tabs { 
    border-right: none; 
    border-left: none; 
    font-family: 'TheSansSemi', arial, Helvetica, sans-serif; 
    position: relative; 
    width: 40%;
    float: right;
    font-size: 1.42em;
    border-bottom: solid 1px #dadada;
    padding: 3px 0px;
    margin-bottom: 5px;
    position: relative;
}


ul.tabs li { color: #000; padding: 5px 0; display: block; width: 36%; float: left;}
ul.tabs li.active { color: #000;}

ul.tabs li#arrow_li { 
    width: 20px;
    height: 20px;
    position: absolute; 
    bottom: -20px; 
    /*border-left: 5px solid transparent;  
    border-right: 5px solid transparent; 
    border-top: 5px solid #000; */
       left: 65px;
      background-image: url("../img/sprite2.svg");
     background-position: 52px 43px;
}

ul.tabs li#gral{
    width: 47%;
    float: left
}

ul.tabs li#paso{
    padding-right: 40px;
    color:#B0B0B0;
    cursor: pointer;
    text-align: right;
    float: right;
     font-size: 14px;
}

ul.tabs li#paso span{
      width: 15px;
      height: 15px;
      position: absolute;
      top: 7px;
      right: 10px;
      border:1px solid #dadada;
      background-position: 0px 0px;
      transition: all 0.2;

}

ul.tabs li#paso span.ok{
    background-color: #dadada;
    background-image:url("../img/sprite2.svg"); 
    background-position: 91px 35px;
}

#results ul#list {
  display: inline-block;
  width: 100%;
  height: 471px;
  overflow: auto;
}

#results ul li.candidato {
    border-bottom: 1px dotted #A0A0A0;
    padding-top: 0px;
    position: relative;
    padding-left: 22px
   /* margin-bottom: 3px;*/
    /*cursor:pointer;*/
}

#results ul li.candidato:hover {
    /*background-color: #f9f9f9;*/
}


#results ul li h5 {
    font: 17px 'TheSans', arial;
    padding: 8px 0 10px 8px;
}
#results ul li h5 span {
    font: normal 12px arial;
    color: #808080;
    padding-left: 0px;
}

.cont_barra .barra {
    width: 0%;
    height: 22px;
    position: relative;
    transition: all 0.2;
}

.cont_barra .barra .porc {
    position: absolute;
    top: 1px;
    right: -55px;
    font: 18px arial;
    font-weight: bold;
    
}

#results {
    border-left: solid 1px #dadada;
    width: 40%;
    float: right;
    position: relative;
    max-height: 585px;
      margin-top: 10px;
}
#results div#line {
    width: 7px;
    height: 100%;
    height: calc(100% - 44px);
    border-right: 1.5px dotted #000;
    position: absolute;
    top: 41px;
    left: -1.5px;
    background: rgba(255, 255, 255, 0.59);
}

ul#list_candidatos li div.bg_li {
    padding: 13px 0px
}
ul#list_candidatos {
    width: 98%; height: 515px;
    padding-left: 10px;
    overflow: auto;
}
ul#list_candidatos li {
    padding-bottom: 3px;
    cursor: pointer;
}

ul#list_candidatos.filter li { opacity: .3;  background-image: url("../img/pat.png"); }
ul#list_candidatos.filter li.active { opacity: 1; background: #fff; }
/*
ul#list_candidatos li.active div.bg_li {
    background: #Efefef;
    border-radius: 3px;
}
*/
/*ul#list_candidatos li input {
    float: left;
    position: relative;
    top: 25px;
    margin-right: 5px
}*/

ul#list_candidatos li div.bg_li div.radioBtn{
    width: 30px;
    height: 100%;
    background:#fff;
    float: left;
    background-image:url("../img/sprite2.svg");
    background-size: 110px;
    background-position: -41px -6px;
    position: absolute;
    left: -4px;
    top: 0;
}

ul#list_candidatos li.active div.bg_li div.radioBtn{
    background-position: -72px -6px;
}

ul#list_candidatos li div.foto {
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-image: url(../img/Sprite_anexoCABA3.png);
    background-repeat: no-repeat;
    border: 4px solid #fff;
}

ul#list_candidatos li h5 {
    font-family: 'TheSansBold';
    display: inline-block;
    width: 68px;
    float: left;
    line-height: 1;
    font-size: 1em;
    padding-right: 16px;
    position: relative;
}
/*
ul#list_candidatos li.active h5 {
    font-family: 'TheSansBold';
}*/
ul#list_candidatos li h5 span {
    display: block;
    margin-bottom: 3px;
}
ul#list_candidatos .cont_barra {
    float: left;
    width: 20%;
    width: 25%;
    width: calc(100% - 245px);
    margin-top: 7px
}
/*
.cont_barra {
-webkit-transition: width 5s;
-moz-transition: width 5s;
-o-transition: width 5s;
-ms-transition: width 5s;
transition: width 5s;
}
*/
ul#list_candidatos .cont_barra .cant_v {
    margin-top: 7px;
    color: #666;
}

ul#list_candidatos li div.cant_v { margin-top: 8px; font-weight: lighter; }

/* barra paso! */
ul#list_candidatos li div.cant_v span.porc,
ul#list_candidatos li .barra.barra_paso { display: none; }
ul#list_candidatos.paso li {}
/*ul#list_candidatos.paso li .barra .porc, */
ul#list_candidatos.paso li .votos {display: none;}

ul#list_candidatos.paso li .barra.barra_paso .porc,
ul#list_candidatos.paso li .barra.barra_paso,
ul#list_candidatos.paso li div.cant_v span.porc { display: block;}
ul#list_candidatos li .barra.barra_paso .porc { font-size: 10px; right: -67px; color: #000; top: -1px;}
ul#list_candidatos li .barra.barra_paso .porc span{font-weight: normal; color:#818181;}
ul#list_candidatos.paso li .barra.barra_paso { height: 8px; position: relative; top: -14px; background: rgba(0,0,0,.4); min-width: 3px}

/** blancos*/
ul#list_candidatos li .col:first-child { width: 50%; float: left;}
ul#list_candidatos li .col { width: 50%; float: right;}
#results ul li.candidato span.line_blancos {position: absolute; left: 49%; top:0px; display:block; border-left:2px solid #999; height: 101%;}

div#ballotage { width: 0; position: absolute; top: 0; border-right: 1px dotted #999; height: 100%}
div#ballotage span {  position: absolute; top: 0; right: 5px;}