@media (max-width: 850px) {
  #results {
    width: 270px;
    right: -280px;
  }

  #results ul li.candidato {
    margin-bottom: 0px;
  }

  ul#list_interna li div.cant_v {
    margin: 0px 14px;
  }

  ul#list_interna li div.foto {
    margin-top: 12px;
  }

}


