html, body {
  margin: 0; padding: 0; height: 100%; max-width: 990px;
}

.leaflet-popup * {
  line-height: 100%;
}
.leaflet-popup h1 { font-size: 14px; margin: 3px 0 3px 0; padding-bottom:7px; }
.leaflet-popup h2 { color: #999; margin-top: 2px; margin-bottom: 2px; font-size: 1em;}
.leaflet-popup p { margin: 5px 0; }
.spinner {
  left: 50% !important;
  margin-top: -20% !important;
}

.clearfix {
  display: block;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin: 0px;
  font-size: 13px;
  color: #000;
  font-family: arial;
  cursor:default;
}

/*header*/
header {
  width: 200px;
  /*border-bottom: dotted 1px #dadada;*/
  border-right: 1px solid #dadada;
  padding: 10px;
  position: relative;
  float: left;
}

div.titulos {
  width: 100%;
  font-size: 15px;
  overflow: hidden;
  float: left;
}

h1 {
  margin: 0px;
  font-family: 'TheSansSemi', arial, Helvetica, sans-serif;
  font-size: 25px;
  color:#000;
  letter-spacing: -1px;
  border-bottom: dotted 1px #ccc;
  line-height: 1;
  display: inline-block;
}

h2 {
  color: #000;
  display: inline-block;
  font-family: arial;
  font-size: 27px;
  padding: 10px 0px;
  /* border: solid 1px #BBBBBB; */
  /* border-top: dotted 1px black; */
  border-bottom: none;
  border-right: none;
  color:#999999;
}

.titulo {
  font-size: 25px;
  border-bottom: none;
}

.titulos p {
  width: 98%;
  padding:15px 0px;
  color:#999999;
  margin: 0px;
}


/*header, section { max-width: 645px;}*/
#x_interna {
  position: relative;
  overflow: hidden;
}

section {
  padding: 0 5px;
}


/* Colores partidos */
.p1, .bk_pro {
  background: #FEDB30;
  fill: #FEDB30;
}
.p2, .bk_fpv {
  background: #1796D7;
  fill: #1796D7;
}
.p3, .bk_eco {
  background: #7CC374;
  fill: #7CC374;
}
.p4, .bk_fit {
  background: #F7977A;
  fill: #F7977A;
}
.p5, .bk_ayl {
  background: #F7977A;
  fill: #F7977A;
}

.p1, .col_pro {
  color: #FEDB30;
}
.p2, .col_fpv {
  color: #1796D7;
}
.p3, .col_eco {
  color: #7CC374;
}
.p4, .col_fit {
  color: #F7977A;
}
.p5, .col_ayl {
  color: #F7977A;
}


#pro, #eco, #fpv, #fit, #ayl {
  font-size: 12px;
  float: left;
  margin: 15px 17px 0px 0px;
  border-right: 1px solid #ccc;
  padding-right: 16px;
}


/* NAV */
/*///////*/

nav {
  width: 200px;
  height: 455px;
  font-size: 12px;
  text-align: center;
  position: relative;
  float: left;
}

nav div.hamburguesa{
  width: 100%;
  font-family: "TheSans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: left;
  padding: 7px 0px;
  padding-left: 50px;
  border-bottom: 1px solid #dadada;
  background-image: url("../img/sprite2.svg");
  background-repeat: no-repeat;
  background-position: -4px -127px;
  background-size: 51px;
  color:#A0A0A0;
  cursor:pointer;
  display: none;
}

.muestra{
    height: 365px;
 }


nav div.fil{
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: #808080;
  padding: 0px;
  padding-right: 10px;
  background: #fff;
  margin:5px 0px;
  float: left;
}

nav div.fil div.tit{
  width: 100%;
  border-bottom:1px dotted #dadada;
  padding: 5px 0px;
  margin-bottom: 10px;
}

nav div.cate{
  font-family: "TheSans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 15px 0px;
  position: relative;
}

nav div.cate div.cat{
  width: 32%;
  display: inline-block;
  text-align: center;
  padding: 5px 0px; 
  float: left;
  font-size: 10px;
}

nav div.cate div.cat#cat1{
  margin-left: 72px;
}


.flecha {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  position: absolute;
  bottom: -10px;
  right: 38px;
}

.flecha#f2 {
  right: 100px;
}

nav div.fil h2 { 
  width: 25%;
  float: left;
  font-size: 14px;
  padding: 8px 10px;
  color:#000;
  font-weight: normal;
  border-left:3px solid #dadada; 
  margin: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

nav div.fil button.set_status_app,  nav div.fil button#home{
  width: 29%;
  height: 35px;
  background-color: #fff;
  display: inline-block;
  float: left;
  border: 0px;
  text-align: center;
  padding: 10px 0px;
  margin:0px 1%;
  border:1px solid #dadada; 
  border-radius: 3px;
  font-size: 12px;
  color:#000;
  background-image:url("../img/sprite2.svg"); 
  background-repeat: no-repeat;
  background-position: 12px -27px;
  transition: all 0.5s;
  cursor: pointer;
}


nav div.fil button.set_status_app:hover {
  background-color: #E7E7E7;
}

nav div.fil button.paso{
  background-position: 12px 1px;
}

nav div.filHome {
  width: 100%;
  border: 0px;

}

nav div.filHome button.active{
  background-color: #E8E8E8 !important;
}

nav div.fil button#home {
  width: 100%;
  background-position: 0px -57px;
  border-right:0px;
  border-radius:3px; 
  border:1px solid #dadada;
  text-transform: uppercase;
  font-size: 11px;
  text-indent: 20px;
}

nav div.sel{
  background-color: #f7f7f7;
  font-weight: bold;
  cursor: default;
  height: 18px;
  color:#000;
}

nav div.bk_pro button.active {
  background-color: #FFEA84 !important;
} 

nav div.bk_eco button.active {
  background-color: #BBE7B6 !important;
} 

nav div.bk_fpv button.active {
  background-color: #AFD8ED !important;
} 

nav div.bk_fit button.active, nav div.bk_ayl button.active {
  background-color: #F9D3C9 !important;
} 

/* instructivo herramienta area */

#instructivo {
  color: white;
  position: absolute;
  top: 13.5%;
  left: 7%;
  width: 21%;
  padding: 9px 12px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

.arrow-left {
width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  left: -8px;
  top: 24px;
}


/* foto candidatos */

ul#list_interna li div.foto {
  float: left;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(../img/Sprite_anexoCABA3.png);
  background-repeat: no-repeat;
  margin-top: 20px;
}

ul#list_interna li h5 {
  font-family: 'TheSansSemiLight';
  display: inline-block;
  width: 70%;
  float: left;
  line-height: 1;
  font-size: 1.4em;
  padding-right: 16px;
}
ul#list_interna .cont_barra {
  float: left;
  width: 20%;
  width: 25%;
  width: calc(100% - 175px);
  margin: 0px 80px;
}
ul#list_interna .cont_barra .cant_v {
  margin-top: 7px;
  color: #666;
}

ul#list_interna li div.cant_v {
  margin: 3px 14px;
  color:#808080;
  float: left;
}

ul#list_interna li div.cant_v span.porc{
  display: none;
}


/* foto candidatos */

.larreta {
    background-position: -1px 2px;
}

.recalde {
    background-position: -1px -131px;
}

.lousteau {
    background-position: -1px -67px;
}

.zamora {
    background-position: -1px -267px;
}

.bregman {
    background-position: -1px -198px;
}
  

/*//////// TOOLTIP 2 //////*/

div.ttip_header {
  width: 150px;
  font-size:13px;
  font-weight: bold;
  padding-bottom: 5px;
  line-height:14px;

}

div.ttip_body {
  width: 150px;
  font-size:13px;
  line-height:17px;
  color:#444444;
}

div.ttip_body span {
  color:#000000;
  font-weight:bold;
  line-height:14px;
}
    
    
/*/////////////////// conentent ///////////////////////////*/


/*mapa*/
section#cont_data {
  width: calc(100% - 233px);
  overflow: hidden;
  position: relative;
  float: right;
}


div.loader{
  width: 50px;
  height:50px;
  position: absolute;
  top:45%;
  left:50%;
  margin-left: -25px;
  background-image:url(../img/ln_loader.gif);
  background-repeat: no-repeat;
}

#mapa_cont, #results {
  position: relative;
}

#mapa_cont {
  width: 100%;
  height: 620px;
  overflow: hidden;
  float: left;
  margin-bottom:5px;
}

#results {
  width: 275px;
  height: 100%;
  position: absolute;
  background: #fff;
  top: 0;
  right: -280px;
  border: 1px solid #E7E7E7;
  z-index:1500;
}
#results div#line {
  width: 7px;
  height: 100%;
  height: calc(100% - 44px);
  border-right: 1.5px dotted #000;
  position: absolute;
  top: 41px;
  left: -1.5px;
  background: rgba(255, 255, 255, 0.59);
}


.porc_text{
  width: 95%;
  /*height: 30px;*/
  border-bottom: 1px solid #dadada;
  margin-left: 10px;
}

.porc_partido{
  padding: 0px 20px;
}


.porc_text div.porc_partido {
  font-size: 14px;
    color: #000;
   /*float: left;*/

}

.porc_text div.porc_partido span {
  color:#0facdd;
  font-weight: bold;
}

.porc_text div.cant_v {
  font-size: 15px;
  color: #999;
  /*float: left;*/
  margin:0px 4px 0px 10px;
}

#porPart  {
  font-size: 15px;
  color:#999;
  margin-left:5px;
}  

#results ul#list {
  display: inline-block;
  width: 100%;
  height: 471px;
  overflow: auto;
}

#results ul#list_interna {
  display: inline-block;
  list-style-type: none;
  width: 100%;
  overflow: auto;
  padding: 2px 20px;
  padding-bottom: 10px;
}

#results ul li {
  border-bottom: 1px solid #dadada;
  padding: 13px 0;
}

#results a.cerrar{
position: absolute;
  background-color: #fff;
  font-family: "TheSans", Arial, Helvetica, sans-serif;
  border-radius: 100px;
  padding: 3px 10px 6px 12px;
  font-size: 16px;
  top: 10px;
  left: -16px;
  cursor:pointer;
  z-index: 1000;
}

#results a.cerrar:hover{
  color:#AAAAAA;
}

#results ul li.candidato {
  border-bottom: 1px dotted #A0A0A0;
  padding-top: 0px;
  margin-bottom: 3px;
  /*cursor:pointer;*/
}


#results ul li h5 {
  font: 17px 'TheSans', arial;
  padding: 8px 0 2px 15px;
}
#results ul li h5 span {
  font: normal 12px arial;
  color: #808080;
  padding-left: 10px;
}
#results ul .cont_barra {
  width: 85%;
  width: calc(100% - 170px); /*background: rgba(200, 200, 200, .1);*/
  margin-top: -10px;
}
.cont_barra .barra {
  width: 0%;
  height: 16px;
  position: relative;
}

.cont_barra .barra .porc {
  position: absolute;
  top: -1px;
  right: -60px;
  font: 18px arial;
  font-weight: bold;
}

#results ul li.candidato h5 span {
  padding-left: 0px;
  padding-top: 5px;
  width: 100%;
  display: block;
}

.atribuciones {
  font-size: 10px;
  padding-top: 25px;
  padding-left: 21%;
  float: left;
}

.atribuciones2 {
  float:right;
} 

.cartodb-logo{
  display: none !important;
}

.in_line {
  display: inline;
}



/*///////// POPUP DE CREDITOS ///////////*/


div.creVent{
  width: 100%;
  max-width: 990px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 6000;
  text-align: center;
}


div.creVent div.titu{
  width: 98%;
  padding: 10px;
  padding-bottom: 3px;
  color:#000;
  font-family: "TheSansBold";
  background-color:#fff;
  font-size: 18px;
}


div.creVent{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    position: absolute;
    top:-70px;
    left:0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 6000;
    text-align: center;
    padding-top: 72px;
}


div.creVent div.titu{
    width: 98%;
    padding: 10px;
      padding-bottom: 3px;
    color:#000;
    font-family: "TheSansBold";
    background-color:#fff;
    font-size: 18px;
}

div.creVent div.txts{
    margin: 20px auto;
    width: 95%;
    max-width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #D8D8D8; 
    position: relative;
    /*display: none;*/
}


div.creVent div.txts div.cerrar{
    color:#fff;
     padding: 7px 10px;
    border-radius: 100px;
    background-color: #000;
    position: absolute;
    top:-15px;
    right:-15px;
    cursor: pointer;
}

div.creVent div.txts div.cate{
    font-weight: bold;
    padding: 8px 0px;
    margin-top:20px;
}


div.creVent div.txts div.nombre{
    line-height: 1.5;
    color:#474747;
}

div.creVent div.txts div.nombre a{
    text-decoration: none;
    color:#474747;
    font-weight: bold;
}

div.creVent div.txts div.nombre a:hover{
    color:#29ABE2;
}

/*///////REFERENCIAS MAPA////////*/

.refDisabled{
	display:none;
}

#refFlechas {
	  padding: 6px 5px 5px 10px;
	  float: right;
	  width: 172px;
	  height: 167px;
	  background-image: url("../img/referencias_sripte.svg");
	  background-color: rgba(255,255,255,0.7);
	  background-size: 235px;
	  background-position: 0px 14px;
	  position: absolute;
	  bottom: 5px;
	  right: 5px;
}

h6 {
	padding-top: 5px;
	font-size:10px;
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.refTxt{
	width:82%;
	font-size:11px !important;
	font:Arial, Helvetica, sans-serif;
	font-weight:ligth;
	padding:21px 0 0 27px;
}

#refCirculos {
	  padding: 6px 5px 5px 10px;
	  float: right;
	  width: 145px;
	  height: 140px;
	  background-image: url("../img/referencias_sripte.svg");
	  background-color: rgba(255,255,255,0.7);
	  background-size: 235px;
	  background-position: 0px -148px;
	  position: absolute;
	  bottom: 5px;
	  right: 5px;
}



#refCirculos .refTxt {
	padding:6px 0px 0px 0px;
}

.ref_cerrar {
	 cursor:pointer;
	 width: 20px;
	 height: 20px;
	 background-image: url("../img/referencias_sripte.svg");
	 background-position: -7px -309px;
	 position: absolute;
	 top: 10px;
	 right: 10px;
}

.ref_cerrar:hover {
	opacity:0.7;
}

/*///// FOOTER ////*/

footer{
  width: 100%;
  padding:10px 0px;
  max-width: 990px;
  color:#999;
  border-top:1px solid #dadada;
  float: left;
}

footer div.creditos{
    font-size: 12px;
    background-color: #f7f7f7;
    border: 1px solid #dadada;
    padding: 5px 6px;
    float: left;
    border-radius: 3px;
    cursor: pointer;
    margin: -3px;
}

footer div.meto{
    margin-left: 10px;
}

footer div.datos{
   font-size: 12px;
   float: right;
   margin-left: 4px;
   padding-right: 4px;
   font-family: arial;
   border-right: 1px solid #dadada;
}

footer div.datos span{
    color:#000;
    font-weight: bold;
} 
