/*Tooltip styles*/
div.ttip_header {
    width: 160px;
    font-size:13px;
    font-weight: bold;
    padding-bottom: 5px;
    line-height:14px;
  border-bottom: 1px dashed #dadada;
  margin-bottom: 5px;
}

div.ttip_body {
    width: 160px;
    font-size:13px;
    line-height:17px;
    color:#444444;
}

div.ttip_body span {
    color:#000000;
    font-weight:bold;
    line-height:14px;
}

div.ttip_body span {
    color:#000000;
    font-weight:bold;
    line-height:14px;
}

div.ttip_body span.ttip_footer {
    color: #000000;
  font-weight: bold;
  line-height: 36px;
  border-top: 1px dashed #dadada;
  padding-top: 5px;
  margin-top: 5px;
}

div.ttip_body span.ttip_main {
    color:#000000;
    font-weight:bold;
    line-height:14px;
}

