<div class="creVent">
    
    <div class="titu">Créditos</div>
    <div class="txts">
        <div class="cerrar">X</div>
        <div class="cate" style="margin-top:0px">Editor de visualizaciones multiplataforma</div>
        <div class="nombre">Pablo Loscri (<a href="http://www.twitter.com/ploscri" target="_blank">@ploscri</a>)</div>

        <div class="cate">Diseño interactivo</div>
        <div class="nombre">Pablo Loscri (<a href="http://www.twitter.com/ploscri" target="_blank">@ploscri</a>), Gastón de la Llana (<a href="http://www.twitter.com/gasgas83" target="_blank">@gasgas83</a>) y Mariana Trigo Viera (<a href="http://www.twitter.com/MarianTV" target="_blank">@MarianTV</a>)</div>

        <div class="cate">Programación</div>
        <div class="nombre">Cristian Bertelegni (<a href="http://www.twitter.com/cbertelegni" target="_blank">@cbertelegni</a>), Juan Elosua (<a href="http://www.twitter.com/jjelosua" target="_blank">@jjelosua</a>) (becario del programa Knight-Mozilla Opennews  <a href="http://www.twitter.com/opennews" target="_blank">@opennews</a>) y Gastón de la Llana (<a href="http://www.twitter.com/gasgas83" target="_blank">@gasgas83</a>)</div>

        <div class="cate">Coordinación periodística</div>
        <div class="nombre">Florencia Fernández Blanco (<a href="http://www.twitter.com/florfb" target="_blank">@florfb</a>)</div>

        <div class="cate">Editor responsable</div>
        <div class="nombre">Gastón Roitberg (<a href="http://www.twitter.com/grmadryn" target="_blank">@grmadryn</a>)</div>
        
        <!--<div class="cate">Proyecto basado en la idea original de Manuel Aristarain</div>
        <div class="nombre">(<a href="http://www.twitter.com/manuelaristaran" target="_blank">@manuelaristaran</a>)</div>-->
        
        <div class="nombre atribuciones">Tiles Courtesy of <a href="https://www.mapbox.com" target="_blank">MapBox, &nbsp;</a><div class="atribuciones2"> CartoDB<a href="http://cartodb.com/attributions" target="_blank"> Attribution</a></div></div> 
        
    </div>
</div>