<div class="creVent">
    <div class="titu">Metodología</div>
    <div class="txts">
        <div class="cerrar">X</div>

        <div class="nombre"><p>Los porcentajes consignados se basan en los votos válidos positivos ya que son los que se toman en cuenta para determinar si hay o no ballottage, es decir, quedan excluidos los nulos y los blancos. Los resultados de las PASO fueron recalculados en base a este universo de votos para hacer una comparación correcta sobre el escrutinio provisorio.</p></div>

    </div>
</div>